<ion-view view-title="修改密码">
    <ion-content class="has-header">
        <form name="form" ng-submit="form.$valid && submit()" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">原密码</span>
                <input required type="password" name="current_password" ng-model="ctrlData.current_password">
            </label>

            <label class="item item-input">
                <span class="input-label">新密码</span>
                <input required type="password" name="new_password" ng-model="ctrlData.new_password">
            </label>

            <label class="item item-input">
                <span class="input-label">再次输入</span>
                <input required type="password" name="new_passwordConfirm" match="form.new_password"
                ng-model="authData.passwordConfirm">
            </label>
            <div ng-show="form.new_passwordConfirm.$error.match" class="assertive padding">
                请再次输入相同密码
            </div>

            <!-- display errors from server -->
            <div ng-if="form.$dirty" ng-messages="serverResp">
                <div ng-message="current_password" class="assertive padding">原密码输入错误</div>
            </div>
        </div>

        <div class="padding">
            <button class="button button-block button-energized">
                确定修改
            </button>
        </div>
        </form>
    </ion-content>
</ion-view>
