<ion-view title="Comments">
  <ion-content class="has-header">
    <div class="thumb-houseimg-box" data-interval="3000" data-widget="com/mobile/widget/banner.js">
        <!--图片列表（针对ios设备适配retina屏幕）-->
                                                <ul class="slide-area" data-role="list" style="width: 2880px; -webkit-transform: translate3d(-1600px, 0px, 0px);">
                            <li data-role="item">
                    <img src="img/product1.jpg">
                </li>
                            </ul>

            </div>


	       <div class="detail-p01">
                <h1 class="title">个人保护非常 好99新三星N7100</h1>
                <div class="fubt f12">
                    发布时间&nbsp;<span class="fc8d f12" style="margin-right:25px">02-04 12:54</span>
                    <span class="fca3 f12">浏览量</span>&nbsp;<span class="fc8d f12">398</span>

                    <!-- 收藏 -->
                                        
                <a class="keep-item" data-do-text="收藏" data-undo-text="取消收藏">
                    <em class="kicon"></em>
                    <span data-role="text">收藏</span>
                </a>
                </div>
            </div>

            <div class="comm-area">
                <table border="0" cellpadding="0" cellspacing="0" class="table">
                    <tbody>
                    <tr><th>价格</th><td><span class="fc-red">1080</span> 元<!-- <a href="http://3g.ganji.com/misc/hangqing/?mod=detail&to=reference&url=sanxingshouji-galaxy-note-s&ifid=v3_secondmarket_detail_hangqing" class="icon-price-trend">参考价格</a> --><span class="f12">&nbsp;&nbsp;&nbsp;参考价格：900-1499元</span></td></tr>                                            <tr>
                            <th>品牌</th>
                            <td>
                                <a class="fc-green" href="/sz_shouji/?url=sanxingshouji">三星</a>
                                 - <a class="fc-green" href="/sz_shouji/?url=sanxingshouji-galaxy-note-s">N7100（Galaxy Note2）</a>                </td>
                        </tr>
                                                                                <tr>
                            <th>区域</th>
                            <td>
                                <a class="fc-green" href="/sz_shouji/?district=0">福田</a>
                                                </td>
                        </tr>
                            <tr><th>来源</th><td>个人</td></tr>
                </tbody>
                </table>
            </div>

            <div class="comm-area">
                <p class="fca3 lh30">详情描述：</p>
                <table border="0" cellpadding="0" cellspacing="0" class="table th04">      
                        <tbody><tr>
                        <th>新旧程度</th>
                        <td>99成新（半年内）</td>
                    </tr>
                    
                    
                    
                    
                    
                            <tr>
                        <th>发票/配件</th>
                        <td>正品发票，保修期内，配件齐全</td>
                    </tr>
                    
                            <tr>
                        <th>其他</th>
                        <td>外观完好 无拆无修 功能正常</td>
                    </tr>
                        </tbody></table>

                <!-- 详情描述 -->
                        <p>
                            个人保护非常 好99新三星N7100，包装配件发票​‌‌​‌‌齐全，5.5寸IPS屏高亮艳丽。原装正品，保修到明年，机子没有一点刮花，和新机一样靓
                        </p>

            </div>
            <div class="comm-fgx"></div>
            <div class="comm-area">
    <table border="0" cellpadding="0" cellspacing="0" class="table th03">
        <tbody><tr>
            <th>联系人</th>
            <td>小冯</td>
        </tr>
    </tbody></table>

    <!-- 电话和im -->
    <div class="tel-area radius">
                        <a class="tel-area-phone" href="tel:13267208565">
                <i class="icon-phone"></i>
                <span class="f15 fc-red">13267208565</span>
            </a>
                        <a class="tel-area-im leave message-me"><i class="icon-im"></i><span class="f15 fc-green" data-role="text">给我留言</span></a>
    </div></div>
    <div class="footer"></div>
    <div class="fixed-conn">
    <nav class="clear hd-conn">
        <div class="connect-info fl">                            
        <p class="tel-code">13267208565&nbsp;</p>
            
                            <p class="f12">
                    小冯 
                    <!--房产日租短租端口贴需求-->
                                                                                                        (个人) 
                             
                                                            </p>
                    </div>                <a class="msg leave message-me" href="http://dingdong.ganji.com/3g/dialogue.html?userId=433579369&amp;puid=1350525376&amp;ifid=v3_secondmarket_detail_wapim_shouji" data-widget="com/mobile/page/milan/detail_page.js#getImOnlineStatus" data-user-id="433579369" data-puid="1350525376" data-from="sz_other_other_detail"><i class="icon-msg"></i><span data-role="text">给我留言</span></a>
                                                    
                    <a class="telphone" href="tel:13267208565" data-gjalog="100000000007000100000010@puid=1350525376@phone=13267208565@post_type=0@atype=click"><i class="icon-tel"></i>电话联系</a>
            </nav>
</div>
     <div class="spinner ng-hide" ng-show="!timesUp" ng-style="{'top':getHalfHeight()+'px'}">
        <i class="icon ion-loading-d energized"></i>
      </div>
  </ion-content>
</ion-view>
